@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit
}

html {
  scroll-behavior: smooth;
}

select,input,textarea {
  border: 1px solid #c2c2c2;
  outline-color: #c586a5 ;
  border-radius: 4px;
}

.active {
  background: #ffebf5 ;
  border-color: #c586a5 ;
}

.hidden_scroll::-webkit-scrollbar {
  display: none;
}

/* Christmas chat animations */
@keyframes fall {
  0% {
    top: -20px;
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(10px) rotate(180deg);
  }
  100% {
    top: 100%;
    transform: translateX(-10px) rotate(360deg);
  }
}